.greeting-image-div {
  max-width: 100%;
  height: auto;
  margin-top: 3rem !important;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.title{
  font-size: 6rem;
  text-align: center;
}
.github{
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-left: 25rem !important;
}
.link{
  margin: auto;
  width: 50%;
  padding: 10px;
}