.intro-main{
    margin-top: 3rem !important;
    background-color: rgb(12, 12, 12);
    height: 350px;
}

.intro-mainText{
    font-size: 40px;
}

.intro-desc{
    font-size: 25px;
    /* padding: 25px; */
    color:#a7a9be;
}
.intro-hashtag{
    font-size: 45px;
}
@media (max-width: 768px) {
    .intro-main{
        margin-top: 3rem !important;
        background-color: rgb(12, 12, 12);
        height: 550px;
    }
  }