.book-main{
   background-color: rgb(12, 12, 12);
   padding: 2rem;
   margin-top: 5rem;
}
  .book-main-div {
    display: flex;
    margin-top: 3rem;
    gap: 0 5vw;
  }
  .book-text-div {
    margin-left: 50px;
  }
  
  .book-main-div > * {
    flex: 1;
    margin-bottom: 30px;
  }
  .book-image-div > img { 
    margin-left: 10rem;
  }
  .book-heading {
    font-size: 40px;
    font-weight: 400;
    margin-top: -2rem;
    margin-left: -2rem;
  }
  
  .book-text-subtitle{
    color:#868E96;
    margin-left: -15rem;
    margin-bottom: 1rem;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 5rem;
    margin-top: 5rem;
  }
  .buy-book{
    margin-left: 17rem;
    color: white;
  }
  /* Media Query */
  @media (max-width: 1380px) {
    .book-heading {
      font-size: 40px;
    }
  }
  @media (max-width: 768px) {
    .book-main{
      padding: 10px;
    }
    .book-main-div {
      flex-direction: column
    }
    .book-text-div {
      margin-left: 0px;
      margin: 20px;
    }
    .book-text {
      font-size: 16px;
    }
    .book-heading {
      font-size: 25px;
      font-weight: 400;
      margin-top: -1rem;
      margin-left: 100px;
      margin-bottom: -2rem;
    }
    .book-text-subtitle {
      font-size: 16px;
      text-align: center;
      padding-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .book-image-div {
      order: -1;
    }
    .book-image-div > img { 
      margin-left:53px;
      align-items: center;
    }
    .buy-book{
      margin-left: 10rem;
    }
  }
  